@model PetStore.Web.ViewModels.Food.AllFoodsViewModel

<h3>List of all foods</h3>
<div>
    @if (!Model.PreviousDisabled)
    {
        <a href="/Food/All?page=@Model.PreviousPage" class="float-left btn btn-info">Previos</a>
    }

    @if (!Model.NextDisabled)
    {
        <a href="/Food/All?page=@Model.NextPage" class="float-right btn btn-info">Next</a>
    }
</div>

<br />
<br />

<div class="row">
    @foreach (var item in Model.Foods)
    {
        <div class="col-md-4 card" style="width: 18rem;">
            <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name">
            <div class="card-body">
                <i class="fa-solid fa-hand-back-point-right"></i>
                <h5 class="card-title">@item.Name <i class="fa-solid fa-hand-back-point-right"></i></h5>
                <p class="card-text">@item.Weight kg.</p>
                <i class="fa-solid fa-dollar-sign">@item.Price</i>
                <hr />
                <a href="/Food/Order/@item.Id" class="btn btn-primary mr-3">Order</a>
                @if (this.User.IsInRole("Admin"))
                {
                    <a href="/Food/Delete/@item.Id" class="btn btn-danger">Delete</a>
                }
            </div>
        </div>
    }
</div>